@charset "UTF-8";

* {
    margin: 0;
    text-align: justify;
}

body {
    background-color: #84E1AD;
}

header {
    background-image: linear-gradient(to bottom, #60D27F, #265D39);
    height: 9.5em;
    padding-top: 2em;
    margin-top: 0;
    padding-bottom: 0;
}

header>h1,
header>p {
    text-align: center;
    color: white;
    padding: 0.1em;
}

nav {
    padding: 0.5em;
}

nav>a {
    color: white;
    padding: 0.5em;
}

nav > a:hover {
    color: black;
    background-color: #4BB36D;
    border-radius: 0.3em;
}

main {
    background-color: white;
    margin: auto;
    display: block;
    width: 40em;
    border-radius: 0em 0em 1em 1em;
}

section {
    padding: 1em;
}

footer {
    margin-top: 1em;
    text-align: center;
    color: white;
    padding: 0.5em;
    background-color: #265D39;
}

h1 {
    color: #265C38;
}

h2 {
    color: #2C6B49;
    background-image: linear-gradient(to left, white, #CFE5BF,  #B2E6A8);
}

h3 {
    background-color: #4CA966;
    border-radius: 1em 1em 0em 0em;
    padding: 0.5em;
    color: white;
}

a {
    color: #0c411e;
    font-weight: bold;
    text-decoration: none;
    
}

p {
    margin: 1em;
    text-indent: 1.5em;
}

#extra-section {
    background-color: #C5EBD6;
    border-radius: 1em;
    padding: 0em 0em 1em 0em;
    margin: 1em 1em 0em 1em;
}

#video-section {
    background-color: #265D39;
}

#video {
    display: block;
    margin: auto;
}

.bugdroid {
    color: #15552a;
    font-weight: bold;
}

.link {
    background-color: #56cc89;
}

.link::after {
    content: "🔗";
}