@charset "UTF-8";

@font-face {
  font-family: Android;
  src: url("fonts/idroid.otf") format("opentype");
}

@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

:root {
  --font-android: 'Android';
}

* {
  margin: 0;
  text-align: justify;
}

body {
  background-color: #84e1ad;

}

header {
  background-image: linear-gradient(to bottom, #60d27f, #265d39);
  height: 11em;
  padding-top: 2em;
  margin-top: 0;
  padding-bottom: 0;
}

header>h1,
header>p {
  text-align: center;
  color: white;
  padding: 0.1em;
  font-family: "Shadows Into Light", cursive;
}

nav {
  padding: 0.5em;
}

nav>a {
  color: white;
  padding: 0.5em;
}

nav>a:hover {
  color: black;
  background-color: #4bb36d;
  border-radius: 0.3em;
}

main {
  background-color: white;
  margin: auto;
  display: block;
  border-radius: 0em 0em 1em 1em;
  max-width: 50em;
  min-width: 320px;
}

section {
  padding: 1em;
}

footer {
  margin-top: 1em;
  text-align: center;
  color: white;
  padding: 0.5em;
  background-color: #265d39;
}

footer>a {
  color: white;
}

section h2,
section h1 {
  color: #265c38;
  font-family: var(--font-android);
}

h2 {
  color: #2c6b49;
  background-image: linear-gradient(to left, white, #cfe5bf, #b2e6a8);

}

h3 {
  background-color: #4ca966;
  border-radius: 1em 1em 0em 0em;
  padding: 0.5em;
  color: white;
}

h1,
h2 {
  font-family: idroid;
}

a {
  color: #0c411e;
  font-weight: bold;
  text-decoration: none;
}

p {
  margin: 1em;
  text-indent: 1.5em;
}

picture {
  display: block;
  margin: auto;
}

img {
  width: 100%;
}

iframe {
  width: 100%;
}

#extra-section {
  background-color: #c5ebd6;
  border-radius: 1em;
  padding: 0em 0em 1em 0em;
  margin: 1em 1em 0em 1em;
}

#video-section {
  background-color: #265d39;
}

#video {
  display: block;
  margin: auto;
}

#bugdroid {
  width: 50%;
  display: block;
  margin: auto;
}

.bugdroid {
  color: #15552a;
  font-weight: bold;
}

.link {
  background-color: #56cc89;
}

.link::after {
  content: "🔗";
}